# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Database files
*.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Logs
agent_logs/

# mypy
.mypy_cache/
