# Core framework
fastapi==0.129.0
uvicorn==0.41.0
python-dotenv==1.2.1
pydantic==2.12.5

# Database
sqlalchemy==2.0.36
aiosqlite==0.20.0          
asyncpg==0.31.0
pinecone==7.3.0         

# Auth
python-jose==3.3.0
bcrypt==4.2.1

# Rate limiting
slowapi==0.1.9

# LangChain / LLM
langchain==1.2.8
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.8
langchain-google-genai==4.2.1
langchain-pinecone==0.2.13
langchain-tavily==0.2.17
langgraph==1.0.7
langsmith==0.6.7

# HTTP
aiohttp==3.13.3
requests==2.32.5
resend==2.23.0
websockets==15.0.1

# pdf 
pypdf==4.3.1